{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.adresseDepart) }}
        {{ form_row(form.adresseDestination) }}
        {{ form_row(form.tempsArrivage) }}
        {{ form_row(form.etudiant) }}
        {{ form_row(form.transporteur) }}
        <button type="submit" class="btn">Save</button>
    {{ form_end(form) }}
{% endblock %}
   
