{% extends 'base.html.twig' %}

{% block title %}{{ edit_mode|default(false) ? 'Edit' : 'New' }} Reservation Transport{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ edit_mode|default(false) ? 'Edit' : 'Create new' }} Reservation Transport</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ edit_mode|default(false) ? 'Update' : 'Save' }}</button>
        {{ form_end(form) }}

        <a href="{{ path('app_reservation_transport_index') }}" class="btn btn-secondary mt-2">Back to list</a>
    </div>
{% endblock %}