{% extends 'base.html.twig' %}

{% block title %}Reservation Transport{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Reservation Transport</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reservation_transport.id }}</td>
                </tr>
                <tr>
                    <th>AdresseDepart</th>
                    <td>{{ reservation_transport.adresseDepart }}</td>
                </tr>
                <tr>
                    <th>AdresseDestination</th>
                    <td>{{ reservation_transport.adresseDestination }}</td>
                </tr>
                <tr>
                    <th>TempsArrivage</th>
                    <td>{{ reservation_transport.tempsArrivage }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ reservation_transport.status }}</td>
                </tr>
                <tr>
                    <th>CinEtudiant</th>
                    <td>{{ reservation_transport.cinEtudiant }}</td>
                </tr>
                <tr>
                    <th>CinTransporteur</th>
                    <td>{{ reservation_transport.cinTransporteur }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex gap-2">
            <a href="{{ path('app_reservation_transport_index') }}" class="btn btn-secondary">Back to list</a>
            <a href="{{ path('app_reservation_transport_edit', {'id': reservation_transport.id}) }}" class="btn btn-warning">Edit</a>
            {{ include('reservation_transport/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}