{% extends 'base.html.twig' %}

{% block title %}ReservationLogement index{% endblock %}

{% block body %}
    <h1>ReservationLogement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>CinEtudiant</th>
                <th>CinProprietaire</th>
                <th>IdLogement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_logement in reservation_logements %}
            <tr>
                <td>{{ reservation_logement.id }}</td>
                <td>{{ reservation_logement.dateDebut ? reservation_logement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_logement.dateFin ? reservation_logement.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_logement.cinEtudiant }}</td>
                <td>{{ reservation_logement.cinProprietaire }}</td>
                <td>{{ reservation_logement.idLogement }}</td>
                <td>
                    <a href="{{ path('app_reservation_logement_show', {'id': reservation_logement.id}) }}">show</a>
                    <a href="{{ path('app_reservation_logement_edit', {'id': reservation_logement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_logement_new') }}">Create new</a>
{% endblock %}
