{% extends 'base.html.twig' %}
{% block body_class 'chat' %}
{% block body_id 'chat' %}
{% block body_data 'data-chat' %}

{% block meta_title %}Chat with {{ receiver.nom }} {{ receiver.prenom }} - StuDar{% endblock %}
{% block meta_description %}Chat with {{ receiver.nom }} {{ receiver.prenom }} on StuDar{% endblock %}

{% block title %}Chat with {{ receiver.nom }} {{ receiver.prenom }} - StuDar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}

{% block body %}
    <div class="chat-container" data-current-user-cin="{{ current_user.cin }}" data-receiver-cin="{{ receiver.cin }}">
        <div class="app-one">
            <div class="side">
                <div class="side-one">
                    <div class="heading">
                        <div class="heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar">
                            </div>
                        </div>
                        <div class="heading-compose">
                            <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="heading-dot">
                            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="searchBox">
                        <div class="searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="sideBar">
                        {% for user in users %}
                            {% if current_user and user.cin != current_user.cin %}
                                <div class="sideBar-body">
                                    <div class="sideBar-avatar">
                                        <div class="avatar-icon">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar{{ random(1, 6) }}.png" alt="Avatar">
                                        </div>
                                    </div>
                                    <div class="sideBar-main">
                                        <div class="sideBar-name">
                                            <a href="{{ path('app_chat_conversation', {'receiverCin': user.cin}) }}">
                                                <span class="name-meta">{{ user.nom }} {{ user.prenom }}</span>
                                            </a>
                                        </div>
                                        <div class="sideBar-time">
                                            <span class="time-meta">18:18</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="side-two">
                    <div class="newMessage-heading">
                        <div class="newMessage-main">
                            <div class="newMessage-back">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <div class="newMessage-title">
                                New Chat
                            </div>
                        </div>
                    </div>

                    <div class="composeBox">
                        <div class="composeBox-inner">
                            <div class="form-group has-feedback">
                                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="compose-sideBar">
                        {% for user in users %}
                            {% if current_user and user.cin != current_user.cin %}
                                <div class="sideBar-body">
                                    <div class="sideBar-avatar">
                                        <div class="avatar-icon">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar{{ random(1, 6) }}.png" alt="Avatar">
                                        </div>
                                    </div>
                                    <div class="sideBar-main">
                                        <div class="sideBar-name">
                                            <a href="{{ path('app_chat_conversation', {'receiverCin': user.cin}) }}">
                                                <span class="name-meta">{{ user.nom }} {{ user.prenom }}</span>
                                            </a>
                                        </div>
                                        <div class="sideBar-time">
                                            <span class="time-meta">18:18</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="conversation">
                <div class="heading">
                    <div class="heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="https://bootdey.com/img/Content/avatar/avatar{{ random(1, 6) }}.png" alt="Avatar">
                        </div>
                    </div>
                    <div class="heading-name">
                        <a class="heading-name-meta">{{ receiver.nom }} {{ receiver.prenom }}</a>
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="heading-dot">
                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="message" id="conversation">
                    {# <div class="message-previous" id="previous-messages">
                        {% if offset > 0 %}
                            <div class="previous">
                                <a id="load-previous" onclick="loadPreviousMessages('{{ receiver.cin }}', '{{ offset }}', '{{ limit }}')" data-offset="{{ offset }}">
                                    Show Previous Message!
                                </a>
                            </div>
                        {% endif %}
                    </div> #}

                    {% set previousDate = null %}
                    {% for message in messages %}
                        {% set currentDate = message.timestamp|date('d/m/Y') %}
                        {% if previousDate is not null and currentDate != previousDate %}
                            <div class="message-date-separator">
                                <div class="text-center">
                                    <span class="date-label">{{ currentDate }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="message-body">
                            {% if message.senderCin.cin == current_user.cin %}
                                <div class="message-main-sender">
                                    <div class="sender">
                                        <div class="message-text">
                                            {{ message.content }}
                                        </div>
                                        <span class="message-time">
                                            {{ message.timestamp|date('d/m/Y H:i') }}
                                        </span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="message-main-receiver">
                                    <div class="receiver">
                                        <div class="message-text">
                                            {{ message.content }}
                                        </div>
                                        <span class="message-time">
                                            {{ message.timestamp|date('d/m/Y H:i') }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% set previousDate = currentDate %}
                    {% endfor %}
                </div>

                <div class="reply">
                    <div class="reply-emojis">
                        <i class="fa fa-smile fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="reply-main">
                        <textarea class="form-control" rows="1" id="comment" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="reply-recording">
                        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="reply-send">
                                            <button type="button" class="btn btn-link p-0">
                                                <i class="fas fa-paper-plane fa-lg" aria-hidden="true" onclick="sendMessage('{{ current_user.cin }}', '{{ receiver.cin }}')"></i>
                                            </button>
                                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('chat') }}
    <script>
       document.addEventListener('DOMContentLoaded', function() {
        console.log('DOMContentLoaded fired');
        if (typeof initializeWebSocket === 'function') {
            console.log('initializeWebSocket is defined');
            initializeWebSocket('{{ current_user.cin }}');
            document.getElementById('conversation').scrollTop = document.getElementById('conversation').scrollHeight;
        } else {
            console.error('initializeWebSocket is not defined - check if chat.js is loaded');
        }
    });
    </script>
{% endblock %}