{% extends 'base.html.twig' %}

{% block title %}Chat - StuDar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}

{% block body %}
    <div class="chat-container"  data-current-user-cin="{{ current_user.cin }}">
        <div class="app-one">
            <div class="side">
                <div class="side-one">
                    <div class="heading">
                        <div class="heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar">
                            </div>
                        </div>
                        <div class="heading-compose">
                            <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="heading-dot">
                            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="searchBox">
                        <div class="searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="sideBar">
                        {% for user in users %}
                            {% if current_user and user.cin != current_user.cin %}
                                <div class="sideBar-body">
                                    <div class="sideBar-avatar">
                                        <div class="avatar-icon">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar{{ random(1, 6) }}.png" alt="Avatar">
                                        </div>
                                    </div>
                                    <div class="sideBar-main">
                                        <div class="sideBar-name">
                                            <a href="{{ path('app_chat_conversation', {'receiverCin': user.cin}) }}">
                                                <span class="name-meta">{{ user.nom }} {{ user.prenom }}</span>
                                            </a>
                                        </div>
                                        <div class="sideBar-time">
                                            <span class="time-meta">18:18</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="side-two">
                    <div class="newMessage-heading">
                        <div class="newMessage-main">
                            <div class="newMessage-back">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <div class="newMessage-title">
                                New Chat
                            </div>
                        </div>
                    </div>

                    <div class="composeBox">
                        <div class="composeBox-inner">
                            <div class="form-group has-feedback">
                                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="compose-sideBar">
                        {% for user in users %}
                            {% if current_user and user.cin != current_user.cin %}
                                <div class="sideBar-body">
                                    <div class="sideBar-avatar">
                                        <div class="avatar-icon">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar{{ random(1, 6) }}.png" alt="Avatar">
                                        </div>
                                    </div>
                                    <div class="sideBar-main">
                                        <div class="sideBar-name">
                                            <a href="{{ path('app_chat_conversation', {'receiverCin': user.cin}) }}">
                                                <span class="name-meta">{{ user.nom }} {{ user.prenom }}</span>
                                            </a>
                                        </div>
                                        <div class="sideBar-time">
                                            <span class="time-meta">18:18</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="conversation">
                <div class="heading">
                    <div class="heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Avatar">
                        </div>
                    </div>
                    <div class="heading-name">
                        <a class="heading-name-meta">Select a conversation</a>
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="heading-dot">
                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="message" id="conversation">
                    <div class="message-previous" id="previous-messages"></div>
                </div>

                <div class="reply">
                    <div class="reply-emojis">
                        <i class="fa fa-smile-o fa-2x"></i>
                    </div>
                    <div class="reply-main">
                        <textarea class="form-control" rows="1" id="comment" placeholder="Type a message..." disabled></textarea>
                    </div>
                    <div class="reply-recording">
                        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="reply-send">
                        <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}