{% extends 'base.html.twig' %}

{% block title %}Transport{% endblock %}

{% block body %}
    <h1>Transport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transport.id }}</td>
            </tr>
            <tr>
                <th>TrajetEnKm</th>
                <td>{{ transport.trajetEnKm }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ transport.tarif }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ transport.status.value }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ transport.timestamp ? transport.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transport_index') }}">back to list</a>

    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>

    {{ include('GestionTransport/transport/_delete_form.html.twig') }}
{% endblock %}
